body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  text-align: center;
}

.flashcard {
  width: 300px;
  height: 180px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  margin: 20px auto;
  cursor: pointer;
  position: relative;
  perspective: 1000px;
  margin-bottom: 50px;
}

.flashcard div {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding: 20px;
}

.front {
  background: #ffffff;
}

.back {
  background: #4f46e5;
  color: white;
  transform: rotateY(180deg);
}

.flashcard.flip .front {
  transform: rotateY(180deg);
}

.flashcard.flip .back {
  transform: rotateY(360deg);
}

.controls button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background: #4f46e5;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}


.controls button:hover {
  background: #3730a3;
}

